.env
secrets.py
old/**
node_modules/
node_modules/once/package.json
numina_splits/
numinamath_split_10pct/
numinamath_split_1pct/
mlm_trained_model/
masked-summary-embedder/
numinamath_test.jsonl
numinamath_train.jsonl
numina_integer_splits/
numinamath_integer_split_1pct/
numinamath_integer_split_10pct/
numina_1.5_full/
numinamath_1.5_split_1pct/
numinamath_1.5_split_10pct/
.DS_Store